*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
135deg,
#2563eb,
#9333ea);

}

.container{

width:400px;

padding:30px;

background:white;

border-radius:20px;

text-align:center;

}

input{

width:100%;

padding:12px;

margin:15px 0;

font-size:16px;
}

button{

padding:12px 20px;

border:none;

background:#2563eb;

color:white;

cursor:pointer;

border-radius:8px;
}

#weather{

margin-top:20px;

font-size:18px;
}